<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
                id="menu_root"
                name="QLNS"
                sequence="0"/>

        <menuitem name="Quản lý nhân viên"
                  id="menu_nhan_vien"
                  parent="menu_root"
                  sequence="1"
                  action="action_nhan_vien"
        />

        <!-- Menu lớn: Danh mục -->
        <menuitem name="Danh mục"
                  id="menu_danh_muc"
                  parent="menu_root"
                  sequence="2"
        />

        <menuitem name="Danh mục phòng ban"
                  id="menu_phong_ban"
                  parent="menu_danh_muc"
                  sequence="1"
                  action="action_phong_ban"
        />

        <menuitem name="Danh mục chức vụ"
                  id="menu_chuc_vu"
                  parent="menu_danh_muc"
                  sequence="2"
                  action="action_chuc_vu"
        />

        <menuitem name="Danh mục chứng chỉ"
                  id="menu_chung_chi"
                  parent="menu_danh_muc"
                  sequence="3"
                  action="action_chung_chi"
        />

        <menuitem name="Quản lý lịch sử công tác"
                  id="menu_lich_su_cong_tac"
                  parent="menu_root"
                  sequence="3"
                  action="action_lich_su_cong_tac"
        />
    </data>
</odoo>
